@font-face{
    font-family: 'monserat';
    src: url(font/Montserrat/Montserrat-Black.ttf),
        url(font/Montserrat/Montserrat-BlackItalic.ttf),
        url(font/Montserrat/Montserrat-Bold.ttf) format(),
        url(font/Montserrat/Montserrat-BoldItalic.ttf),
        url(font/Montserrat/Montserrat-ExtraBold.ttf),
        url(font/Montserrat/Montserrat-ExtraBoldItalic.ttf),
        url(font/Montserrat/Montserrat-ExtraLight.ttf),
        url(font/Montserrat/Montserrat-ExtraLightItalic.ttf),
        url(font/Montserrat/Montserrat-Italic.ttf),
        url(font/Montserrat/Montserrat-Light.ttf),
        url(font/Montserrat/Montserrat-LightItalic.ttf),
        url(font/Montserrat/Montserrat-Medium.ttf),
        url(font/Montserrat/Montserrat-MediumItalic.ttf),
        url(font/Montserrat/Montserrat-Regular.ttf),
        url(font/Montserrat/Montserrat-SemiBold.ttf),
        url(font/Montserrat/Montserrat-SemiBoldItalic.ttf),
        url(font/Montserrat/Montserrat-Thin.ttf),
        url(font/Montserrat/Montserrat-ThinItalic.ttf);
    
}

@font-face{
    font-family: 'roboto';
    src: url(font/Roboto/Roboto-Black.ttf),
        url(font/Roboto/Roboto-BlackItalic.ttf),
        url(font/Roboto/Roboto-Bold.ttf),
        url(font/Roboto/Roboto-BoldItalic.ttf),
        url(font/Roboto/Roboto-Italic.ttf),
        url(font/Roboto/Roboto-Light.ttf),
        url(font/Roboto/Roboto-LightItalic.ttf),
        url(font/Roboto/Roboto-Medium.ttf),
        url(font/Roboto/Roboto-MediumItalic.ttf),
        url(font/Roboto/Roboto-Regular.ttf),
        url(font/Roboto/Roboto-Thin.ttf),
        url(font/Roboto/Roboto-ThinItalic.ttf),
}

@font-face{
    font-family: 'ubuntu';
    src:url(font/Ubuntu_Mono/UbuntuMono-Bold.ttf),
        url(font/Ubuntu_Mono/UbuntuMono-BoldItalic.ttf),
        url(font/Ubuntu_Mono/UbuntuMono-Italic.ttf),
        url(font/Ubuntu_Mono/UbuntuMono-Regular.ttf);
}

@keyframes defile{
    0%{

    }
    10%{

    }
    20%{

    }
    50%{
        
    }
    60%{

    }
    70%{

    }

    100%{

    }
}

.ubuntu{
    font-family: 'ubuntu', Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.ubuntu-bold{
    font-family: 'ubuntu', Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.roboto{
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.roboto-bold{
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.monserat{
    font-family: 'monserat', Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.monserat-bold{
    font-family: 'monserat', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background: white;
    font-family: 'roboto', sans-serif;
}

.conteneur{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'monserat', sans-serif;
    
    /*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu Mono', monospace;*/
}

.nav{
    display: flex;
    justify-content : space-between;
    flex-direction: row;
    align-items: center;
    padding: 0% 1%;
    position: fixed;
    z-index: 999;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
}



.back-color-red{
    background: rgb(211, 22, 79);
}

.back-color-red-white{
    background: rgb(132, 15, 64);
}

.back-color-gris{
    background: rgb(241, 240, 243);
}

.back-color-black{
    background: rgb(0, 0, 0);
}

.back-color-black-gris{
    background: rgb(45, 45, 45);
}

.inline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inlinespace{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.inlineElementCenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.border{
    border: solid 1px;
}

.ligne{
    border: none;
    border-top: 1px solid black;
    width: 40px;
    
}

.colum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.sec1{
    background-image: url('../images/hero-background.jpg');
    background-repeat: round;
}

.sec{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

/*
    Les conteurs des enfants
*/


.font-large{
    font-size: 50px;
}

.font-larger{
    font-size: 40px;
}

.font-medium{
    font-size: 30px;
}

.font-small{
    font-size: 20px;
}

.font-smaller{
    font-size: 10px;
}



/*
    La partie enfant
*/


ol{
    font-family: 'ubuntu', Arial, Helvetica, sans-serif;
}

.marge{
    margin: 70px auto;
}

.margeMin{
    margin: 40px auto;
}

.center{
    text-align: center;
}

.center:hover{
    animation: monAnimation 1s alternate;
    
}

img.logoUp{
    width: 5%;
    height: 8vh;
}

.nav{
    font-size: smaller;
}

.navA{
    margin: 0 15px;
    color: white;
    font-style: normal;
}

.small-icon{
    width: 3vw;
    height: 5.5vh;
}
.small-icon2{
    width: 5vw;
    height: 8vh;
}

button{
    height: 8vh;
    font-size: 18px;
    font-style: initial;
    border: 1px white solid;
    border-radius: 2vh;
    margin: 0 10px;
    padding: 0px 20px;
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.btn-rouge{
    background: rgb(211, 22, 79);
    border: 1px rgb(211, 22, 79) solid;
}

.btn-blanc{
    background: rgb(255, 255, 255);
}

button:hover{
    background: none;
}

.opacite{
    opacity: 0.6;
}

.gros{
    width: 30vw;
    height: 55vh;
    position: absolute;
    border-radius: 20px;
}

.petit{
    width: 20vw;
    height: 30vh;
    position: relative;
    left: 15vw;
    top: 30vh;
    border-radius: 20px;
}

button:focus{
    outline: none;
}
body:focus{
    transition: margin-top 4s;
}

.scroll{
    overflow-x:scroll;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
}

input{
    width: 48%;
    height: 30px;
}
select{
    width: 48%;
    height: 30px;
}