/**   Class pour le font   */


.monserat{
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}

.monserat-bold{
    font-family: Montserrat, sans-serif;
    font-weight: 900;
}

.monserat-light{
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

.roboto{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.roboto-bold{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.ubuntu{
    font-family: Ubuntu Mono, monospace;
    font-weight: 400;
}

.ubuntu-bold{
    font-family: Ubuntu Mono, monospace;
    font-weight: 700;
}



@keyframes BackToUp{
    from{
        transform: translateY(200px);
        opacity: 0;
    }

    90%{
        opacity: 0.1;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes defile{
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(-50px);
    }
    20%{
        transform: translateX(-100px);
    }
    50%{
        transform: translateX(-110px);
    }
    60%{
        transform: translateX(-180px);
    }
    70%{
        transform: translateX(-220px);
    }

    100%{
        transform: translateX(-300px);
    }
}

@keyframes lien{
    from{
        margin-bottom: 0%;
    }
    to{
        margin-bottom: 100%;
    }
}

.backToUp{
    transition: .5s;
    animation: BackToUp 800ms;
    animation-iteration-count: 1;
}
.backToUp-plus{
    transition: .5s;
    animation: BackToUp 1.2s;
    animation-iteration-count: 1;
}

.backToUp-plus-plus{
    transition: .5s;
    animation: BackToUp 1.9s;
    animation-iteration-count: 1;
}
.backToUp-plus-plus-plus{
    transition: .5s;
    animation: BackToUp 2.5s;
    animation-iteration-count: 1;
}






/*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background: white;
    
}

.conteneur{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    /*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu Mono', monospace;*/
}

/* Main  */
main > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 80px 0px;
}

/*   Header  */

.nav{
    display: flex;
    justify-content : space-between;
    flex-direction: row;
    align-items: center;
    padding: 2vh 2vw;
    position: fixed;
    z-index: 999;
    font-size: small;
}

img.logoUp{
    width: 7%;
}

.navA{
    margin: 0 20px;
    color: white;
    font-style: normal;
    text-decoration: none;
    padding: 5px;
}


/* Section 1  */

#sec1{
    margin-top: 60px;
    background-image: url('../images/hero-background.jpg');
    background-repeat: round;
}

#sec1 > div{
    width: 80%;
}

#sec1 > div:first-child > div:first-child{
    visibility: visible; 
    opacity: 1; 
    font-size: 37px;
}

#sec1 > div:first-child > div:nth-child(3) > p{
    font-size: 16px;
    line-height: 1.5;
}

#sec1 > div:first-child > div:last-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#sec1 > div:first-child > div:nth-child(3){
    margin: auto;
    width: 70%;
}



/*  Section 2 */


#sec2 > div:nth-child(2) {
    width: 60%;
    color: #424345;
}


#sec2 > div:nth-child(2) > div:nth-child(2) > div{
    width:50%;
    height: 150px;
}

#sec2 > div:nth-child(2) > div:nth-child(3) > div{
    width: 50%;
    height: 150px;
}

.sec2imgSmall{
    background-size: cover;
    width: 4vw; 
    height: 15vh; 
    margin:auto
}


.gros{
    width: 40vw;
    position: relative;
    border-radius: 20px;
    left: 0;
    margin-left: -8vw;
}

.petit{
    width: 25vw;
    position: absolute;
    top: 33vh;
    left: 13vw;
    border-radius: 20px;
}

p.ligne{
    margin-bottom: 20px;
    margin-top: 20px;
}


/* Section 3  */

#sec3{
    width: 80%;
}

#sec3 > div:last-child{
    overflow-x:hidden;
    overflow-y: auto;
}

#sec3 > div:last-child > div{
    margin: auto 60px;
    position: relative;
}

.sec3img{
    width: 7vw;
    position: relative;
}

#sec3 > div:last-child > div:last-child{
    animation: defile 5s infinite linear;
    
}


/*
    section 4
*/

#sec4 > div:first-child > h2{
    color: black;
}

#sec4 > div:nth-child(2) > div:first-child {
    width: 42% ;
    margin: 0 15px 0 7%; 
    background:white; 
    padding: 20px 20px;  
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;
    border-top: 10px yellow solid;
}

#sec4 > div:nth-child(2) > div:last-child {
    width:42% ;
    margin:0 7% 0 15px; 
    background:white; 
    padding: 20px 20px;  
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;
    border-top: 10px red solid;
}




/*
    Section 5
*/

#sec5{
    width: 90%;
}
#sec5 > h2{
    margin-bottom: 100px;
}

.element-deroulerant{
    width: 100%;
    overflow-x: hidden;
}

.element-deroulerant > div{
    width: 30%;
    margin: 20px 0px;
    position: relative;
}

.element-deroulerant > div{
    margin-right: 5%;
}

.element-deroulerant > div:last-child{
    position: relative;
    animation: defile 6s linear ;
}

.sec5img{
    width: 22vw;
    border-radius: 10px;
}

.arrow-gauche{  
    width: 25px;
    height: 20px;
    color: #dfdee1;
    background: transparent ;
    border-radius: 7px;
    position: relative;
    top: 200px;
    left: 20px;
    margin-right: 20px;
}

.arrow-droit{
    width: 25px;
    height: 20px;
    color:#6425e2;
    background: transparent;
    border-radius: 2px;
    position: relative;
    top: 200px;
    right: 10px;
    margin-left: 30px;
}

.arrow-droit:hover{
    color: white;
}

.badge{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 0  0px;
    height: 20px;
    background-color: white;
    border-radius: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.back-red-element{
    background: #ed0058;
    padding: 10px 10px;
}

/*


*/
.marge-moins{
    margin: 0;
    line-height: 0.2;
}
.down{
    transform: translateY(7px);
}

.font-smaller-div{
    font-size: 12px;
}



/*
    Section 6
*/

#sec6 > div:first-child > h2{
    font-size: 40px; 
}

#sec6 > div:nth-child(2) > div:first-child{
    margin-right: 1%;
}
#sec6 > div:nth-child(2) > div:last-child{
    margin-left: 1%;
}

#sec6 > div:nth-child(2) > div:first-child{
    width: 50%;
    padding: 0;
}

#sec6 > div:nth-child(2) > div:last-child{
    width: 35%;
    padding: 0;
}

.width-child{
    width: 20%;
    margin: 20px 2%;
}

.back-purple{
    background-color: rgba(24,0,39,.87);
}


.sec6haut{
    margin: 0;  
    padding: 20px;
    height: 35px;
    font-size: 1.75rem;
}

.sec6marge{
    margin: 30px;
}

.sec6ronded{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.propsoft{
    height: 67%;
    border-radius: 10px;
    background: #dfdee1;
    margin: 40px;
    font-size: 17px;
}

.font-sec6{
    font-size: 20px;
}


/** 
        Section 7
**/


.img-left{
    width: 50%; 
    position: relative;
    margin: auto;
    margin-top: 15px;
}

.ajuste{
    margin-top: 25px;
}

.ajuste2{
    transform: translateX(-25px);
}

.ajuste3{
    transform: translateX(25px);
}

.margin{
    margin: 0 70px;
}

.width-great{
    width: 80%;
}

.border-img{
    border: white solid 1px;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    position: relative;
    left: 40px;
}

.img-right{
    position: relative;
    width: 40px;
    height: 25px;
    top: 20px;
    left: 20px;
}

.font-elements{
    font-size: 1.3rem;
}

.buttonsec6{
    background: #d92950;
    border: 1px #d92950 solid;
}
.buttonsec6:hover{
    border: 2px white solid;
    animation-fill-mode: both;
}


/**   
        Section 8
***/
#sec8{
    line-height: 1.5;
}

#sec8 > div:first-child > div{
    width: 45%;
}

#sec8 > div:first-child > div:first-child{
    margin-right: 15px;
    padding-top: 0px;
    margin-left: 5%;
}

#sec8 > div:first-child > div:last-child{
    margin-left: 15px;
}

.font-large-s8{
    font-size: 40px;
    margin: 0;
}

.font-medium-s8{
    font-size: 24px;
}
.sec8-img-left{
    width: 98%;
    background-size: cover;
}

.sec8-img-right{
    width: 4vw;
}

.sec8-elements-right{
    width: 85%; 
    height: 50vh;
    margin-bottom:20px; 
    background:white; 
    padding: 15px; 
    border-radius:10px; 
    border:2px white solid;
    position: relative;
}

.sec8-elements-right2{
    width: 75%; 
    height: 50vh;
    margin-bottom:20px; 
    background:white; 
    padding: 15px; 
    border-radius:10px; 
    border:2px white solid;
    position: relative;
}

.ajuste-sec8{
    margin-right: 30px;
}


/*** Section 9
 ***/

.item-haut-s9:first-child{
    width: 6vw; 
    height:3vh;
}

.item-haut-s9:nth-child(2){
    width: 3vw; 
    height:4.5vh;
}
.item-haut-s9:nth-child(3){
    width: 8vw; 
    height:7vh;
}
.item-haut-s9:nth-child(4){
    width: 4vw; 
    height:4.5vh;
}
.item-haut-s9:last-child{
    width: 5vw; 
    height:6vh;
}



/*
    section 9.5
*/

#sec9-5 > div{
    width: 80%;
    margin-left: 10%;
}

.sec9-5-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0;
}

.width-sec9-5:first-child{
    transform: translateY(10px);
}

.width-sec9-5{
    width: 25%;
    margin-bottom: 30px
}


.img-sec9-5{
    width: 18vw; 
    border-radius:5px; ;
}

blockquote.twitter-tweet{
    font-size: smaller;
    width: inherit;
}


/*** 
    Section 10 = Formulaire de contacte
****/

#sec10{
    padding: 100px 7%;
    background: #1d1b25;
}

.sec10-width{
    width: 100%;
}
.sec10-width:first-child{
    margin-right: 1%;
}

.sec10-width:last-child{
    margin-left: 1%;
}

.custom-select{
    font-family: inherit;
    width: 100%;
    height: 45px;
    padding: .375rem 1.75rem .375rem .75rem;
    margin-top: 10px;
    font-size: 14px;
}

.marge-sec10{
    margin-bottom: 40px;
}

.margeMin-sec10{
    margin-bottom: 20px;
}

.color-white-s10{
    color: hsla(0,0%,100%,.87);
}

.btn-custom{
    font-family: inherit;
    width: 95%;
    height: 25px;
    padding: .375rem .75rem;
    font-size: 16px;
}

.margeMin-sec10{
    margin: 13px 0;
}

.custom-select:focus{
    outline: #743845 solid 2px;
}

.btn-custom:focus{
    outline: #743845 solid 2px;
}

.text-area-form{
    width: 98%;
    resize: none; 
    overflow-y: scroll; 
    height: 50px;
    font-family: inherit;
    padding: .375rem .75rem;
    font-size: 14px;
}

.text-area-form:focus{
    outline: #743845 solid 2px;
}

.btn-form{
    width: 13%;
    color: white;
    background-color: #d92950;
    border: #d92950 solid 2px;
}
.btn-form:hover{
    outline: none;
    border: #d92950 solid 2px;
    color: white;
}
















 /**
  Footer 
 **/



footer{
    padding: 10rem  6rem;
    background-color: #ae3753;
    line-height: 1.6;
}

.footer-width{
    width: 60%;
    font-size: 19px;
    margin-right: 20px;
}


address{
    font-style: normal;
}

.input-footer{
    padding: 10px;
    width: 72%;
    height: 25px;
}

.input-footer:focus{
    outline: #743845 solid 2px;
}

.btn-footer{
    width: 28%;
    height: 48px;
    font-size: 13px;
    text-align: left;
    border: none;
    font-weight: bold;
    background-color: #d92950;
    border-radius: initial;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    transform: translateX(-11px);
}

.btn-footer:hover{
    background: none;
    color: rgba(24,0,39,.87);
}

.icone{
    width: 2vw;
    color: #d92950;
    margin-right: 10px;
}

strong{
    color: #fff;
}

.color-white-dif{
    color: hsla(0,0%,100%,.87);
}





.back-color-red{
    background: #d92950;
}

.back-color-red-white{
    background: #ae3753;
}

.back-color-gris{
    background: rgb(241, 240, 243);
}

.back-color-black{
    background: rgb(0, 0, 0);
}

.back-color-white{
    background: #fff;
}

.back-color-black-gris{
    background: rgb(45, 45, 45);
}

.inline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inlinespace{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.inlineElementCenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.border{
    border: solid 1px;
}

.ligne{
    border: none;
    border-top: 2px solid black;
    width: 40px;
    border-color: #d92950;
    
}

.colum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


/*
    Les conteurs des enfants
*/




/*
    La partie enfant
*/


.elementCenter{
    margin:auto;
}


ol{
    font-family: 'ubuntu', Arial, Helvetica, sans-serif;
}

.marge{
    margin: 50px auto;
}

.margeMin{
    margin: 30px auto;
}

.margeMinMin{
    margin: 20px auto;
}

.center{
    text-align: center;
}

.center:hover{
    animation: monAnimation 1s alternate;
    
}



.small-icon{
    width: 3vw;
    height: 5.5vh;
}
.small-icon2{
    width: 5vw;
    height: 8vh;
}

button{
    height: 10vh;
    font-size: 18px;
    font-style: initial;
    border: 1px white solid;
    border-radius: 2vh;
    margin: 0 10px;
    padding: 0px 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-rouge{
    background: #d92950;
    border: 1px #d92950 solid;
}

.btn-rouge:hover{
    color :#d92950;
}

.btn-blanc:hover{
    color: white;
}

.btn-blanc{
    background: rgb(255, 255, 255);
    color: #d92950;
}

button:hover{
    background: none;
}

.opacite{
    opacity: 0.6;
}


button:focus{
    outline: none;
}

input{
    width: 48%;
    height: 30px;
}
select{
    width: 100%;
    height: 30px;
}

/* section2 */

.inlineBloc:nth-child(2){
    width: 60%;
}
.inlineBloc:nth-child(1){
    float: left; 
    width: 40%; 
    position:relative
}





/**
    section 1

**/

.alignCenter{
    text-align: center;
}
.alignLeft{
    text-align: left;
}


/** general ***/


.color-white{
    color: white;
}

.color-yellow{
    color: #ffe64d;
}

.color-red{
    color: #d92950;
}

.color-black{
    color: #424345;
}


.font-title{
    font-size: 75px;
}

.font-large{
    font-size: 50px;
}

.font-larger{
    font-size: 40px;
}

.font-medium{
    font-size: 27px;
}

.font-small{
    font-size: 17px;
}

.font-smaller{
    font-size: 15px;
}

.position-relative{
    position: relative;
}
.position-absolut{
    position: absolute;
}

a{
    text-decoration: none;
}

b{
    font-weight: inherit;
}

.second-title{
    font-size: 40px;
}

