@font-face{
    font-family: 'monserat';
    src: url(font/Montserrat/Montserrat-Black.ttf),
        url(font/Montserrat/Montserrat-BlackItalic.ttf),
        url(font/Montserrat/Montserrat-Bold.ttf),
        url(font/Montserrat/Montserrat-BoldItalic.ttf),
        url(font/Montserrat/Montserrat-ExtraBold.ttf),
        url(font/Montserrat/Montserrat-ExtraBoldItalic.ttf),
        url(font/Montserrat/Montserrat-ExtraLight.ttf),
        url(font/Montserrat/Montserrat-ExtraLightItalic.ttf),
        url(font/Montserrat/Montserrat-Italic.ttf),
        url(font/Montserrat/Montserrat-Regular.ttf),
        url(font/Montserrat/Montserrat-SemiBold.ttf),
        url(font/Montserrat/Montserrat-SemiBoldItalic.ttf),
        url(font/Montserrat/Montserrat-Thin.ttf),
        url(font/Montserrat/Montserrat-ThinItalic.ttf);
    
}
@font-face{
    font-family: 'monserat2';
    url(font/Montserrat/Montserrat-Medium.ttf),
        url(font/Montserrat/Montserrat-MediumItalic.ttf);
    }

@font-face{
    font-family: 'monserat1';
    src:url(font/Montserrat/Montserrat-Light.ttf),
        url(font/Montserrat/Montserrat-LightItalic.ttf);
}

@font-face{
    font-family: 'roboto';
    src:url(font/Roboto/Roboto-BlackItalic.ttf),
    url(font/Roboto/Roboto-Black.ttf),
        url(font/Roboto/Roboto-Bold.ttf),
        url(font/Roboto/Roboto-BoldItalic.ttf),
        url(font/Roboto/Roboto-Italic.ttf),
        url(font/Roboto/Roboto-Light.ttf),
        url(font/Roboto/Roboto-LightItalic.ttf),
        url(font/Roboto/Roboto-Medium.ttf),
        url(font/Roboto/Roboto-MediumItalic.ttf),
        url(font/Roboto/Roboto-Regular.ttf),
        url(font/Roboto/Roboto-Thin.ttf),
        url(font/Roboto/Roboto-ThinItalic.ttf),
}

@font-face{
    font-family: 'ubuntu';
    src:url(font/Ubuntu_Mono/UbuntuMono-Bold.ttf),
        url(font/Ubuntu_Mono/UbuntuMono-BoldItalic.ttf),
        url(font/Ubuntu_Mono/UbuntuMono-Italic.ttf),
        url(font/Ubuntu_Mono/UbuntuMono-Regular.ttf);
}

@keyframes BackToUp{
    from{
        transform: translateY(+200px);
        opacity: 0;
    }

    60%{
        opacity: 0.3;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes defile{
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(30px);
    }
    20%{
        transform: translateX(60px);
    }
    50%{
        transform: translateX(110px);
    }
    60%{
        transform: translateX(130px);
    }
    70%{
        transform: translateX(160px);
    }

    100%{
        transform: translateX(-200px);
    }
}

@keyframes lien{
    from{
        margin-bottom: 0%;
    }
    to{
        margin-bottom: 100%;
    }
}

.backToUp{
    transition: .5s;
    animation: BackToUp 1s;
    animation-iteration-count: 1;
}


.ubuntu{
    font-family: 'ubuntu', Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.ubuntu-bold{
    font-family: 'ubuntu', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.roboto{
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.roboto-bold{
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.monserat{
    font-family: 'monserat', Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.monserat-bold{
    font-family: 'monserat', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background: white;
}

.conteneur{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    /*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu Mono', monospace;*/
}

/* Main  */
main > div {
    display: flex;
    flex-direction: row;
}

/*   Header  */

.nav{
    display: flex;
    justify-content : space-between;
    flex-direction: row;
    align-items: center;
    padding: 0% 1%;
    position: fixed;
    z-index: 999;
}

img.logoUp{
    width: 5%;
    height: 8vh;
}

.nav{
    font-size: smaller;
}

.navA{
    margin: 0 15px;
    color: white;
    font-style: normal;
    text-decoration: none;
    padding: 3px;
    font-weight: 600;
}


/* Section 1  */

#sec1{
    background-image: url('../images/hero-background.jpg');
    background-repeat: round;
}

#sec1 > div{
    width: 80%;
}

#sec1 > div:first-child > div:first-child{
    margin-top: 50px;
}

#sec1 > div:nth-child(1) > div:first-child > div:first-child{
    margin-top: 30px;
}

#sec1 > div:first-child > div:nth-child(3) > p{
    font-family: 'monserat1', sans-serif;
    font-size: 16px;
    
}

#sec1 > div:nth-child(1) > div:last-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
}



/*  Section 2 */

#sec2 > div:first-child{
}

#sec2 > div:nth-child(2) > div:nth-child(1) > p{
    font-weight: 700;
}

#sec2 > div:nth-child(2) > div:nth-child(2) > div:nth-child(1){
    width: 50%;
}

#sec2 > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > img{
    background-size: cover; 
    width: 3vw; 
    height: 15vh; 
    margin:auto;
}

#sec2 > div:nth-child(2) > div:nth-child(2) > div:nth-child(2){
    margin-left:70px; 
    width:50%;
}

#sec2 > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > img{
    background-size: cover;
    width: 3vw; 
    height: 15vh; 
    margin:auto
}

#sec2 > div:nth-child(2) > div:nth-child(3) > div:nth-child(1){
    width:50%
}

#sec2 > div:nth-child(2) > div:nth-child(3) > div:nth-child(1) > img{
    background-size: cover;
    width: 3vw; 
    height: 15vh; 
    margin:auto
}

#sec2 > div:nth-child(2) > div:nth-child(3) > div:nth-child(2){
    width:50%;
    margin-left:70px;
}

#sec2 > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) > img{
    background-size: cover;
    width: 3vw; 
    height: 15vh; 
    margin:auto
}

.gros{
    width: 30vw;
    height: 55vh;
    position: relative;
    border-radius: 20px;
    float: left;
}

.petit{
    width: 20vw;
    height: 35vh;
    position: absolute;
    top: 30vh;
    left: 15vw;
    border-radius: 20px;
}

/* Section 3  */

#sec3{
    width: 70%;
}

#sec3 > div:first-child > h2 {
    font-size: 40px; 
    color: white;
    font-family: 'monserat2', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#sec3 > div:last-child{
    overflow-x:hidden;
    overflow-y: auto;
}

#sec3 > div:last-child > div{
    width: 20%;
    margin: auto 30px;
    position: relative;
}

.sec3img{
    width: 10vw;
    position: relative;
}

#sec3 > div:last-child > div:last-child{
    animation: defile 5s infinite linear;
    
}


/*
    section 4
*/

#sec4 > div:first-child > h2{
    font-family: 'monserat2', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px; 
    color: black;
}

#sec4 > div:nth-child(2) > div:first-child {
    width:40% ;margin: 0 10px 0 10%; 
    background:white; padding:20px;  
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;
    border-top: 5px yellow solid;
}

#sec4 > div:nth-child(2) > div:first-child > div:nth-child(2) > p{
    font-family: 'monserat2', Arial, Helvetica, sans-serif;
}

#sec4 > div:nth-child(2) > div:first-child > div:nth-child(1) > p{
    font-family: 'monserat2', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#sec4 > div:nth-child(2) > div:last-child {
    width:40% ;margin:0 10% 0 10px; 
    background:white; 
    padding:20px;  
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;
    border-top: 5px red solid;
}

#sec4 > div:nth-child(2) > div:last-child > div:nth-child(2) > p {
    font-family: 'monserat2', Arial, Helvetica, sans-serif;
}
#sec4 > div:nth-child(2) > div:last-child > div:nth-child(1) > p {
    font-family: 'monserat2', Arial, Helvetica, sans-serif;
    font-weight: bold;
}



/*
    Section 5
*/

#sec5{
    width: 80%;
}
#sec5 > h2{
    font-family: 'monserat2', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

#sec5 > div{
    width: 100%;
    overflow-x: auto;
}

#sec5 > div > div{
    width: 25%;
}

#sec5 > div > div:nth-child(2n){
    margin: 0 9%;
}

.sec5img{
    width: 22vw;
    border-radius: 10px;
}

p.ligne{
    margin-bottom: 20px;
}
/*
    Section 6
*/

#sec6 > div:first-child > h2{
    font-size: 40px; 
    font-family: 'monserat2', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#sec6 > div:last-child > div:first-child > div:nth-child(2) > {
    width:60%; 
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;
}

#sec6 > div:last-child > div:first-child > div:first-child{
    padding-left: 10px;
    background:rgb(211, 22, 79); 
    text-align:left;
    font-size: 25px; 
    color :white ;
    font-family: 'monserat2', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#sec6 > div:last-child > div:first-child > div:first-child > div:nth-child(2) > div > figure{
    width: 25%;
}


.sec6img{
    width: 5wv; height:6vh;
    color: #424345;
}










.back-color-red{
    background: #d92950;
}

.back-color-red-white{
    background: rgb(132, 15, 64);
}

.back-color-gris{
    background: rgb(241, 240, 243);
}

.back-color-black{
    background: rgb(0, 0, 0);
}

.back-color-black-gris{
    background: rgb(45, 45, 45);
}

.inline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inlinespace{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.inlineElementCenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.border{
    border: solid 1px;
}

.ligne{
    border: none;
    border-top: 2px solid black;
    width: 40px;
    border-color: #d92950;
    
}

.colum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


/*
    Les conteurs des enfants
*/




/*
    La partie enfant
*/


.elementCenter{
    margin:auto;
}


ol{
    font-family: 'ubuntu', Arial, Helvetica, sans-serif;
}

.marge{
    margin: 50px auto;
}

.margeMin{
    margin: 30px auto;
}

.center{
    text-align: center;
}

.center:hover{
    animation: monAnimation 1s alternate;
    
}



.small-icon{
    width: 3vw;
    height: 5.5vh;
}
.small-icon2{
    width: 5vw;
    height: 8vh;
}

button{
    height: 8vh;
    font-size: 18px;
    font-style: initial;
    border: 1px white solid;
    border-radius: 2vh;
    margin: 0 10px;
    padding: 0px 20px;
    font-weight: bold;
}

.btn-rouge{
    background: #d92950;
    border: 1px #d92950 solid;
}

.btn-rouge:hover{
    color :#d92950;
}

.btn-blanc:hover{
    color: white;
}

.btn-blanc{
    background: rgb(255, 255, 255);
    color: #d92950;
}

button:hover{
    background: none;
}

.opacite{
    opacity: 0.6;
}


button:focus{
    outline: none;
}

input{
    width: 48%;
    height: 30px;
}
select{
    width: 100%;
    height: 30px;
}

/* section2 */

.inlineBloc:nth-child(2){
    width: 60%;
}
.inlineBloc:nth-child(1){
    float: left; 
    width: 40%; 
    position:relative
}





/**
    section 1

**/

.alignCenter{
    text-align: center;
}


/** general ***/


.color-white{
    color: white;
}

.color-yellow{
    color: yellow;
}

.color-red{
    color: #d92950;
}
.color-red{
    color: black;
}


.font-title{
    font-size: 70px;
}

.font-large{
    font-size: 50px;
}

.font-larger{
    font-size: 40px;
}

.font-medium{
    font-size: 30px;
}

.font-small{
    font-size: 20px;
}

.font-smaller{
    font-size: 15px;
}